

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
footer header, footer h1 {
    cursor: default;
}

footer img {
    max-height: 30px;
    cursor: default;
}