.main-header {
    font-family: 'Anek Malayalam';
    color: rgb(46, 43, 43);
    font-size: 2rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.215);
}

.header {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.logo-img-container, .header h1 {
    letter-spacing: 2px;
}
.header h1 {
    color: rgb(142, 33, 33);
}
.header h1 span {
    color: #121111;
}
.logo-img-container {
    margin-block-start: 0.5rem;
    margin-inline-start: 2rem;
}
.logo-img-container img{
    max-width: 40px;
}
