/* book-list */
.book-list-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    max-height: 60.25vh;
    background-color: #f3f3f1;
    margin-block-start: 1rem;
    padding: 1rem;
}

.book-preview-container {
    background-color: rgba(243, 239, 239, 0.774);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    /* outline: 1.5px solid rgba(0, 0, 0, 0.301); */
    text-transform: capitalize;
}

.prev-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
}

.book-prev {
    min-height: 85px;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-prev h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.actions {
    margin-block-start: 1.5rem;
}

/* .actions>* {
    margin-inline-start: 0.5rem;
} */

.actions button {
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 1.2rem;
}

.details-btn {
    text-decoration: none;
    color: black;
    padding: 0 3px;
    border-radius: 3px;
    height: 100%;
    width: 100%;

}

.remove-btn {
    background-color: rgba(145, 35, 35, 0.9);
    color: whitesmoke;
}

.book-prev .img-container img {
    width: 150px;
}