
/* user-msg */

.user-msg{
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
}

.user-msg span {
    padding: 0.8rem;
}

.success {
    background-color: rgb(249, 251, 253);
    box-shadow: inset 0 -5px 2px rgba(205, 52, 52, 0.942);;
    border-radius: 5px;
    outline: 2px solid rgba(0, 0, 0, 0.259);
}

.error{
    background-color: rgb(236, 240, 244);
    outline: 4px solid rgba(205, 52, 52, 0.742);
    border-radius: 5px;
}