
/* user-msg */

.user-msg{
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: lightgreen;
    padding: 15px;
}

.user-msg span {
    padding: 0.8rem;
}

.success {
    background-color: rgb(236, 240, 244);
    outline: 3px solid rgba(52, 205, 52, 0.742);
    border-radius: 5px;
}

.error{
    background-color: rgb(236, 240, 244);
    outline: 4px solid rgba(205, 52, 52, 0.742);
    border-radius: 5px;
}