@media(max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .email-app-container {
        flex-direction: column-reverse;
    }
    .sliced-body {
        display: none;
    }
    @media(max-width: 380px) {
        .prev-subject {
            display: none
            ;
        }
    }
}