@media(max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .email-app-container {
        flex-direction: column-reverse;
    }
    .sliced-body {
        display: none;
    }
    @media(max-width: 380px) {
        .prev-subject {
            display: none
            ;
        }
    }
    .email-details-container {
        flex-direction: column-reverse;
    }
    .content-body p {
        inline-size: 180px;
    }
    .subject-container {
        flex-direction: column;
        align-items: flex-start;
    }
}