.email-prev-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.205);
    transition: all  200ms;
    font-size: 0.9rem;
}
.email-prev-container p {
    margin: 0;
}

.email-prev-container:hover {
    transition: all  200ms;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.174);
}

.email-prev-body {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

.sliced-body {
    margin-inline-start: 1rem;
    color: rgb(120, 118, 118);
}

ul a {
    text-decoration: none;
    color: black;
}

