.filter-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.filter-container input {
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.086);
}

.input-txt {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: rgb(24, 22, 22);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-txt:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ff9f9f, #ef3838);
    border-image-slice: 1;
}
