.email-list-container ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 75vh;
}
.email-list-container {
    display: table;
    background-color: rgba(250, 246, 243, 0.568);
    border-top: 1.5px solid rgba(0, 0, 0, 0.205);

}


li.not-read{
    font-weight: 700;
    background-color: rgb(253, 251, 251);
}
li.read {
    font-weight: 400;
    /* background-color: rgb(224, 224, 224); */
}
