.notes-filter {
    background-color: rgb(154 20 20 / 59%);
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.notes-filter input{
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border:1px solid rgb(231 215 215);
    background-color: rgb(239 239 239);
    transition: .2s;
    width: 50%;
}

.notes-filter input:focus{
    outline: none;
    box-shadow: 0px 0px 3px 0px #0000004d;
    background: white;   
}