.notes-list {
    background-color: lavender;
    width: 70%;
    margin: auto;
    max-height: 100vh;

    padding: 1rem;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 0.5rem;   */
}