.notes-list {
    width: 85%;
    margin: auto;
    max-height: 100vh;

    padding: 6px;
    text-align: center;



    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
    gap: 30px;


    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 0.5rem;   */
}

.notes-list .title {
    display: flex;
    justify-content: space-between;
}