.notes-list .note-container {
    width: 100%;
    border: 1px solid rgb(193, 187, 187);
    padding: 0.5em;
    border-radius: 00.3em;
    transition: 0.2s;

    min-height: 100px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.notes-list .note-container:hover {
    box-shadow: 0px 0px 3px 0px #000000da;
    border: 1px grey solid;
}

.note-container .title {
    border-bottom: 1px solid rgb(185, 184, 184);
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.note-container section {
    flex-grow: 1;
}

.note-container img {
    width: 100%;
    object-fit: contain;
}

.note-container .actions {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: rgb(53, 54, 54);
}

.note-container .actions a {
    color: rgb(53, 54, 54);
}

.note-container .actions button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(53, 54, 54);
    border: 0;
    cursor: pointer;
}

.note-container .actions label {
    cursor: pointer;
}

.note-container .actions input {
    display: none;
    cursor: pointer;
}

.important {
    order: -1;
}

.note-container iframe{
    width: 100%;
    border: none;
}