.notes-list .note-container {
    width: 100%;
    border-radius: 00.3em;
    transition: 0.2s;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    outline: 5px solid rgba(0, 0, 0, 0.115);
    padding-block-end: 3.3rem;
}

.notes-list .note-container:hover {
    box-shadow: 0px 0px 3px 0px #0000002b;
}

.note-container .title {
    margin-inline-start: 1rem;
    margin-block-start: 0.5rem;
    font-size: 1.3rem;
}

.note-container .note-img-container {
    flex-grow: 1;
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

.note-container img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    padding-block: 1rem;
    border-radius: 25px;

}
.note-container iframe {
    margin-block-start: 0.5rem;
    max-height: 100%;
}

.note-container .actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    align-items: flex-start;
    color: rgb(53, 54, 54);
}

.note-container .actions a {
    color: rgb(53, 54, 54);
}

.note-container .actions button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(53, 54, 54);
    border: 0;
    cursor: pointer;
}

.note-container .actions label {
    cursor: pointer;
}

.note-container .actions input {
    display: none;
    cursor: pointer;
}

.important {
    order: -1;
}

.note-container iframe{
    width: 100%;
    border: none;
}

.note-txt-container p {
    margin-inline-start: 1rem;
    inline-size: 90%;
    margin-block-start: 0.5rem;
}