/* review */
.review-list-container {
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-review-container, .review-list-container {
    background-color: rgba(237, 232, 232, 0.917);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(60%, -50%);
    padding: 1rem;
    border-radius: 5px;
    outline: 2px solid rgba(26, 25, 25, 0.29);
}

.add-review-container {
    min-width: 300px;
}
.add-review-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.add-review-container form > *{
    /* max-width: 200px; */
    margin-block: 0.2rem;
}
.add-review-container form  button{
    margin-block: 0.5rem;
}

.review-list-container h2, .add-review-container h2 {
    inline-size: 300px;
    text-transform: capitalize;
}

.review-list-container li {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(139, 0, 0, 0.151);
    margin-block-end: 0.5rem;
    border-radius: 5px;
}

.review-list-container li p {
    text-align: start;
    /* inline-size: 400px; */
}

.review-list-container li p span {
    font-weight: 700;
    font-size: 1.1rem;

}

.add-review-btn, .review-list-btn {
    align-self: flex-start;
}

.add-review-btn {
    margin: 0 2rem;
}

.review-txt {
    font-weight: 700;
}

