/* book-filter */

.book-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b212165;
    /* border-radius: 5px; */
    margin-block-start: 1rem;
}

.book-filter-container button {
    background-color: lightcoral;
    border-radius: 3px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    outline: 1px solid black;
}

.book-filter-container form, .book-filter-container form>* {
    margin-inline-start: 0.7rem;
}
