/* app-header */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background-color: #f3f3f1;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    min-width: 245px;

}

.header-title h1 {
    font-size: 2rem;
    margin-inline-start: 0.5rem;
}

.header-title h1 span {
    color: #ff554d;
}

.nav-bar {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar a {
    margin-inline: 1rem;
    text-decoration: none;
    color: black;
}

.router-link-exact-active {
    color: whitesmoke;
    box-shadow: inset 0 -3px 0 red;
}


.book-logo {
    max-width: 80px;
}

.red-circle {
    max-height: 5px;
}