/* book-details */

.book-details {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #f3f3f1;
    text-align: center;
    padding: 1rem 0.5rem;
    /* min-height: 600px; */
}

.book-details .img-container {
    margin-inline-end: 1.6rem;
}

.book-details .img-container img {
    border-radius: 5px;
    min-height: 300px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7b212165;
    /* background-color: rgba(182, 174, 174, 0.717); */
    color: black;
    max-height: 600px;
    border-radius: 5px;
    padding: 0.8rem;
    outline: 1.5px solid rgba(0, 0, 0, 0.301);
    width: 100%;
}

.details p {
    inline-size: 300px;

}

.details-header h2 {
    inline-size: 300px;
    text-transform: capitalize;
    color: #ff554d;
}

.details-body, .details-header {
    background-color: rgba(211, 207, 207, 0.217);
    border-radius: 5px;
    margin-block-end: 1rem;
    box-shadow: inset 0 5px 20px rgba(255, 255, 255, 0.215);
    outline: 4px solid rgba(0, 0, 0, 0.194);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details-header {
    margin-block-start: 1rem;
}
.details-header h2 {
    font-size: 2rem;
    margin: 0;
}
.details-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 300px));
}

.details-body>* {
    margin-top: 0.3rem;
}

.book-authors small, .book-categories small {
    margin-inline-start: 0.5rem;
}

.book-price {
    display: block;
}

.book-price span:last-child {
    margin-inline-start: 0.5rem;
}

.book-subtitle {
    text-transform: capitalize;
}

.book-published {
    font-weight: 700;
}


.user-options {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-options button {
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 0.3rem;
    background-color: #c6d6eb;
    cursor: pointer;
    transition: all 200ms;
}
.user-options button:hover {
    background-color: #2e333a;
    color: whitesmoke;
}
.book-details .close-btn {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: rgb(102, 13, 13);
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}
.add-review-btn:hover, .review-list-btn:hover {
    color: lightblue;
}

.close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: rgb(119, 25, 33);
    cursor: pointer;
    border: none;
}

.book-desc {
    grid-row: span 3;
}


.paging-container {
    display: flex;
    justify-content: space-between;
}

.paging-container > * {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.paging-container > *:hover {
    color: lightblue;
}