
/* home-page */
.home-page-container {
    display: flex;
    justify-content: center;
    background-color: #f3f3f1;
    /* min-height: 604.3px; */
}

.home-img-container {
    margin-inline-end: 2.5rem;
    display: flex;
    align-items: center;
}

.home-img-container img {
    max-height: 520px;
}

.welcome-container {
    /* inline-size: 300px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container h1 {
    font-size: 2rem;
    margin: 0;
}
.welcome-container h1 span {
    color: #ff554d;
}

.welcome-container .explore-btn {
    text-decoration: none;
    color: rgb(130, 26, 33);
    font-size: 1.5rem;
    transition: padding 400ms;
    outline: 2px solid rgba(0, 0, 0, 0.21);
    background-color: #a8c9da;
    padding: 3px;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.explore-btn:hover {
    padding-inline-end: 2rem;
}

.explore-btn:hover::after {
    content: "→";
    position: absolute;
    margin-inline-start: 0.4rem;
}