
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bold {
    font-weight: 700;
}

.high {
    color: red;
}

.low {
    color: lightgreen;
}

p, p span {
    inline-size: 250px;
    overflow: auto;
}