@media (max-width:700px) {

  .notes-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
  }

  .notes-list .note-container {
    width: 100%;
    text-align: start;
  }

  .add-note-container .add-new-note-input {
    width: 70%;
  }
}